<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <menuitem
            id="inventory_audit_menu"
            action="inventory_audit.ia_getlocation_barcode_action_main_menu"
            web_icon="inventory_audit,static/description/icon.png"
            sequence="155"
            groups="stock.group_stock_user" />

    <menuitem id="menu_package_audit_history_records"
              name="Auditorias de inventario"
              parent="stock.menu_stock_warehouse_mgmt"
              action="inventory_audit.action_package_audit_history"
              sequence="9"/>
    
</odoo>